#screen{
    width: 1348px;
    height: 2000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
#smalldiv{
    width: 300px;
    height: 470px;
}
img{
    width: 250px;
    height: 250px;
}